/* header */
.header-nav-list li:hover {
    background-image: url("./images/navline.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;

    transition: all 0.5s ease-out;
}

.header-nav-list a:hover {
    font-size: 18px;
    letter-spacing: 1px;

    transition: all 0.3s ease-out;
}

.cart:hover {
    margin-bottom: 25px;

    transition: all 0.3s ease-out;
}

.mobile-nav .nav ul li:hover {
    font-size: 20px;

    transition: all 0.3s ease-out;
}


/* donate */
.donate-info a:hover {
    max-width: 130px;
    font-size: 20px;
    font-weight: 600;

    transition: all 0.3s ease-out;
}

.donate-info input:hover {
    padding: 20px 50px;
    font-size: 20px;
    font-weight: 600;

    transition: all 0.3s ease-out;
}

.donate-numbers h2:hover {
    font-size: 48px;

    transition: all 0.5s ease-out;
}





/* info */
.info .trees:hover,
.info .edu:hover,
.info .charity:hover {
    background-image: url("./images/edubckgr.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center bottom;

    transition: all 0.7s ease-out;
} 


/* work */
.work-info input:hover {
    max-width: 250px;
    padding: 20px 50px;
    font-size: 20px;
    font-weight: 600;

    transition: all 0.3s ease-out;
}


/* mission */
.trees-planted-scale .progress-container::before {
    animation: progress-tree 3s infinite;
}

.books-donated-scale .progress-container::before {
    animation: progress-books 3s infinite;
}

.dollars-scale .progress-container::before {
    animation: progress-dollars 3s infinite;
}

@keyframes progress-tree {
    0% {width: 0%; background-color: transparent;}
    40% {width: 40%; background-color: #97BC59;}
}

@keyframes progress-books {
    0% {width: 0%; background-color: transparent;}
    50% {width: 50%; background-color: #ECB942;}
}

@keyframes progress-dollars {
    0% {width: 0%; background-color: transparent;}
    30% {width: 30%; background-color: #B0CEF1;}
}



/* partners */
.partners-list li:hover {
    background-image: url("./images/partnersbckgr.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;

    transition: all 0.9s ease-out;
}



/* involved */
.involved input:hover {
    min-width: 280px;
    padding: 20px 50px;
    font-size: 20px;
    font-weight: 600;

    transition: all 0.3s ease-out;
}


/* contacts */
address a:hover {
    font-size: 28px;

    transition: all 0.5s ease-out;
}

.social-list li:hover {
    margin-top: 15px;

    transition: all 0.3s ease-out;
}



/* footer */
.company-list li:hover,
.nav-resources li:hover {
    font-size: 18px;

    transition: all 0.3s ease-out;
}

.download-list li:hover {
    margin-top: 20px;

    transition: all 0.3s ease-out;
}